* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;

}

button {
    cursor: pointer;
}

header {
    padding: 10px;
    display: flex;
}

.header1 {
    width: 26%;
    justify-content: center;
}

.header2 {
    width: 60%;
    display: flex;
    justify-content: space-between;
    
}

.header3 {
    width: 14%;
}
.joinNow{
    display: flex;
}

.logo_common {
    padding-left: 15px;
    display: flex;
    align-items: center;
    color: #007BB6;
}

.collection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join {
    border: 0;
    background-color: inherit;
    font-size: 16px;
    border-left: 1px solid #696969;
    padding: 10px 30px;
}

.sign {
    border: 1px solid #007BB6;
    background-color: inherit;
    padding: 10px 20px;
    border-radius: 40px;
    z-index: 10000;
}

main {
    display: flex;
    padding: 0 90px;
}

a {
    text-decoration: none;
}

.land1 {
    width: 50%;
    padding: 30px 30px;
}

.land1 span {
    font-size: 50px;
    font-weight: lighter;
}

.land1 button {
    font-size: 17px;
    padding: 25px;
    width: 400px;
    font-weight: lighter;
    background-color: #007BB6;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
}

input {
    width: 400px;
    padding: 15px;
}

.land2 {
    width: 50%;
    padding: 30px 0;
    transform: translateY(-40px);

}

.land2 img {
    width: 100%;
    height: 100%;
}

.or {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.or span {
    font-size: small;
    width: fit-content;
    width: 20px;
    margin: 0px 10px;
}

.or hr {
    height: 1px;
    background-color: #696969;
    width: 48%;
    font: small;
}

.Already span {
    font-size: 18px;
}

.Already {
    width: 400px;
    text-align: center;
}