			.border {
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    width: 600px;
			    height: 600px;
			    background-color: black;
			}

			.innerborder {
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    width: 500px;
			    height: 500px;
			    background-color: white;
			}

			.container {
			    display: flex;
			    flex-direction: column;
			    justify-content: space-between;
			    width: 400px;
			    padding: 10px;
			    height: 400px;
			    background-color: #4d0f00;
			}

			.container1 {
			    width: 400px;
			    height: 130px;
			    background-color: #eeb65f;
			}

			.container2 {
			    width: 400px;
			    height: 130px;
			    background-color: #8d0300;
			}

			.container3 {
			    width: 400px;
			    height: 130px;
			    background-color: #b10502;
			}