* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 23%;
    height: 90vh;
    max-height: 100vh;
    background-color: #EDFBF9;
}

.first_1 {

    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first_2 {
    width: 100%;
    height: 50%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.first_1 span {
    padding: 5px 0;
}

.first_2_1 {
    width: 40%;
    display: flex;
    align-items: center;
    padding: 20px 0;
    /* justify-content: space-around; */
}

.first_2_1 span {
    font-size: large;
}

.first_2_1 img {
    padding-right: 30px;
    height: 25px;
}

.second {
    background: linear-gradient(#74c9bc, #c2bdb8, #74c9bc, #74c9bc);
    width: 77%;
    height: 100vh;
    /* max-height: 100vh; */
    /* padding: 10px 0; */
}

.second1 {
    height: 40%;
    width: 36%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second1 .box {
    width: 180px;
    height: 20px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6);
    margin-top: 9px;
}

.second2 {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.second2 .box1 {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6);
    padding: 20px;
}

.second1 h4 {
    font-size: 30px;
    font-weight: 400;
}

.dbox {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    /* border-bottom-left-radius: 10px; */
    background-color: antiquewhite;
}

.ibox {
    background-color: #95614F;
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 70%;
    height: 20px;
    z-index: 1;
}

.percent span {
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}