			* {
				padding: 0;
				margin: 0;
				box-sizing: border-box;
				position: relative;
				font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
			}

			body {
				width: 100vw;
				height: 100vh;
				background: url("./bgs.jpg");
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.bg {
				width: 400px;
				height: 600px;
				background-color: #ddb786;
				padding: 10px 15px;
			}

			hr {
				width: 100%;
				background-color: #8c171c;
				height: 2px;
				border-color: #8c171c;
			}

			.common {
				width: 100%;
				display: flex;
				justify-content: space-between;
			}

			.img {
				display: flex;
				justify-content: center;
			}

			a {

				color: rgb(75, 71, 71);
			}